{% extends "registration/baselogin.html" %}
{% load i18n %}

{% block title %}{% trans "New password set" %}{% endblock %}

{% block content %}
	<div class="account-pages"></div>
	<div class="clearfix"></div>
	<div class="wrapper-page">
		<div class=" card-box">
			<div class="panel-heading"> 
            <h3 class="text-center"><strong class="text-success">WhatsApp Portal</strong></h3>
        </div> 
        <div class="panel-body">
        	<div class="form-group ">
                    <div class="col-xs-12">
						<p>{% trans "Your password has successfully been reset. You can use it right now on the login page." %}</p>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
