{% extends "registration/baselogin.html" %}
{% load i18n %}

{% block title %}{% trans "Password recovery sent" %}{% endblock %}

{% block content %}
<div class="account-pages"></div>
<div class="clearfix"></div>
<div class="wrapper-page">
	<div class=" card-box">
		<div class="panel-heading"> 
        	<h3 class="text-center"><strong class="text-success">WhatsApp Portal</strong></h3>
    	</div> 
	    <div class="panel-body">
	    	<form class="form-horizontal m-t-20">
		    	<div class="form-group ">
		            <div class="col-xs-12">
						<p>{% blocktrans with ago=timestamp|timesince %}An email was sent to <strong>{{ email }}</strong> {{ ago }} ago. Use the link in it to set a new password.{% endblocktrans %}</p>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>
{% endblock %}
