{% load staticfiles %}
{% load i18n %}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="A fully featured admin theme which can be used to build CRM, CMS, etc.">
    <meta name="author" content="Coderthemes">

    <link rel="shortcut icon" href=" {% static 'images/favicon_1.ico">

    <title>Winsoft Web Solution</title>

    <link href=" {% static 'css/bootstrap.min.css' %}" rel="stylesheet" type="text/css" />
    <link href=" {% static 'css/core.css' %}" rel="stylesheet" type="text/css" />
    <link href=" {% static 'css/components.css' %}" rel="stylesheet" type="text/css" />
    <link href=" {% static 'css/icons.css' %}" rel="stylesheet" type="text/css" />
    <link href=" {% static 'css/pages.css' %}" rel="stylesheet" type="text/css" />
    <link href=" {% static 'css/responsive.css' %}" rel="stylesheet" type="text/css" />
    <style>
    html{
    background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 80%) !important;
    background-size: cover !important;
    background-repeat: no-repeat !important;
    }
    body{
    background-color:transparent;
    }
</style>
    <!-- HTML5 Shiv and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src=" {% static 'https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js' %}"></script>
    <script src=" {% static 'https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js' %}"></script>
    <![endif]-->

    <script src=" {% static 'js/modernizr.min.js' %}"></script>
</head>
<body>
    {% block content %}
    {% endblock %}
    <script>
        var resizefunc = [];
    </script>

    <!-- jQuery  -->
    <script src=" {% static 'js/jquery.min.js' %}"></script>
    <script src=" {% static 'js/bootstrap.min.js' %}"></script>
    <script src=" {% static 'js/detect.js' %}"></script>
    <script src=" {% static 'js/fastclick.js' %}"></script>
    <script src=" {% static 'js/jquery.slimscroll.js' %}"></script>
    <script src=" {% static 'js/jquery.blockUI.js' %}"></script>
    <script src=" {% static 'js/waves.js' %}"></script>
    <script src=" {% static 'js/wow.min.js' %}"></script>
    <script src=" {% static 'js/jquery.nicescroll.js' %}"></script>
    <script src=" {% static 'js/jquery.scrollTo.min.js' %}"></script>


    <script src=" {% static 'js/jquery.core.js' %}"></script>
    <script src=" {% static 'js/jquery.app.js' %}"></script>

</body>
</html>
