{% extends 'registration/baselogin.html' %}
{% load i18n %}

<!DOCTYPE html>
{% block content %}
<body>
  <div class="account-pages' %}"></div>
    <div class="clearfix' %}"></div>
        <div class="wrapper-page">
            <div class=" card-box">
              <div class="panel-body form-horizontal m-t-20">
                <h2>Logged Out Successfully</h2>
                <div class="form-group">
                  <div class="col-xs-12">
                    <br>
                    <a href="/" >Click here to login </a>                    
                  </div>
                </div>
            </div>
          </div>
        </div>
    </div>
{% endblock %}