{% load staticfiles %}
{% load i18n %}

<!DOCTYPE html>
<html >
<head>
  <meta charset="UTF-8">
  <title>Logged Out</title>
  
      <link rel="stylesheet" href=" {% static 'css/style.css' %}">
  
</head>

<body>
  <body>
    <div class="login">
        <div class="login-screen">
            <div class="app-title">
                <h1>Logged Out Successfully</h1>
            </div>

            <a href="/accounts/login/?next=/" >Click here to login </a>
        </div>
    </div>
</body>
    
</body>
</html>
