{% load staticfiles %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="A fully featured admin theme which can be used to build CRM, CMS, etc.">
        <meta name="author" content="Coderthemes">
        <link rel="shortcut icon" href="{% static 'images/favicon_1.ico' %}">
        <title>Bulk whatsapp service</title>
        
        <!--Morris Chart CSS -->
        <link rel="stylesheet" type="text/css" media="screen" href="{% static 'plugins/morris/morris.css' %}"/>
        <link rel="stylesheet" type="text/css" media="screen" href="{% static 'css/bootstrap.min.css' %}"/>
        <link rel="stylesheet" type="text/css" media="screen" href="{% static 'css/core.css' %}"/>
        <link rel="stylesheet" type="text/css" media="screen" href="{% static 'css/components.css' %}"/>
        <link rel="stylesheet" type="text/css" media="screen" href="{% static 'css/icons.css' %}"/> 
        <link rel="stylesheet" type="text/css" media="screen" href="{% static 'css/pages.css' %}"/>
        <link rel="stylesheet" type="text/css" media="screen" href="{% static 'css/responsive.css' %}"/>
        {% block css %}
        {% endblock css %}
        
        <!-- HTML5 Shiv and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
       <script src="{% static 'https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js' %}" ></script>
       <script src="{% static 'https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js' %}" ></script>
        <![endif]-->

        <script src="{% static 'js/modernizr.min.js' %}"></script>
    </head>


<body class="fixed-left">
<!-- Begin page -->
<div id="wrapper">
<!-- Top Bar Start -->
<div class="topbar">
    <!-- LOGO -->
    <div class="topbar-left">
        <div class="text-center">
            <a href="index.html" class="logo"><i class="icon-magnet icon-c-logo"></i><span>WINS<i class="md md-album"></i>FT</span></a>
            <!-- Image Logo here -->
            <!--<a href="index.html" class="logo">-->
                <!--<i class="icon-c-logo"> <img src="{% static 'images/logo_sm.png'%}" height="42"/> </i>-->
                <!--<span><img src="{% static 'images/logo_light.png'%}" height="20"/></span>-->
            <!--</a>-->
        </div>
    </div>

    <!-- Button mobile view to collapse sidebar menu -->
    <div class="navbar navbar-default" role="navigation">
        <div class="container">
            <div class="">
                <div class="pull-left">
                    <button class="button-menu-mobile open-left waves-effect waves-light">
                        <i class="md md-menu"></i>
                    </button>
                    <span class="clearfix"></span>
                </div>

                
                

                <ul class="nav navbar-nav navbar-right pull-right">
                    <li class="notifi-title text-center " style="color:white;"><span>{{ request.user.name  }}</span></li>
                    <!-- <li class="dropdown top-menu-item-xs">
                        <a href="#" data-target="#" class="dropdown-toggle waves-effect waves-light" data-toggle="dropdown" aria-expanded="true">
                            <i class="icon-bell"></i> <span class="badge badge-xs badge-danger"></span>
                        </a>
                        <ul class="dropdown-menu dropdown-menu-lg">
                            <li class="notifi-title"><span class="label label-default pull-right">New 3</span>Notification</li>
                            <li class="list-group slimscroll-noti notification-list">
                               
                               <a href="javascript:void(0);" class="list-group-item">
                                  <div class="media">
                                     <div class="pull-left p-r-10">
                                        <em class="fa fa-diamond noti-primary"></em>
                                     </div>
                                     <div class="media-body">
                                        <h5 class="media-heading">You will notify with our new schemes</h5>
                                        <p class="m-0">
                                            <small>There are new settings available</small>
                                        </p>
                                     </div>
                                  </div>
                               </a>
                            <li>
                                <a href="javascript:void(0);" class="list-group-item text-right">
                                    <small class="font-600">See all notifications</small>
                                </a>
                            </li>
                        </ul>
                    </li> -->
                   <!-- <li class="hidden-xs">
                        <a href="#" id="btn-fullscreen" class="waves-effect waves-light"><i class="icon-size-fullscreen"></i></a>
                    </li>-->
                    <!-- <li class="hidden-xs">
                        <a href="#" class="right-bar-toggle waves-effect waves-light"><i class="icon-settings"></i></a>
                    </li> -->
                    <li class="dropdown top-menu-item-xs">
                        <a href="" class="dropdown-toggle profile waves-effect waves-light" data-toggle="dropdown" aria-expanded="true">
                        <img src="{% static 'images/users/avatar-1.jpg'%}" alt="{{ request.user }}" class="img-circle"> </a>
                        
                        <ul class="dropdown-menu">
                            <li><a href="/user/logout"><i class="ti-power-off m-r-10 text-danger"></i> Logout</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
            <!--/.nav-collapse -->
        </div>
    </div>
</div>
<!-- Top Bar End -->
<!-- ========== Left Sidebar Start ========== -->

    <div class="left side-menu">
        <div class="sidebar-inner slimscrollleft">
            <!--- Divider -->
            <div id="sidebar-menu">
                <ul>
                  <li class="text-muted menu-title">Navigation</li>
                    <li class="has_sub">
                      <a href="{% url 'clientapp_dashboard' %}"><i class="ti-home"></i> <span> Dashboard </span> <span class="menu-arrow"></span>
                      </a> 
                    </li>
                     <!-- <ul class="list-unstyled"> -->
                    <li class="has_sub">
                      <a href="javascript:void(0);" class="waves-effect"><i class="fa fa-send"></i> <span>Bulk Whatsapp</span> 
                      <span class="menu-arrow"></span> </a>
                      <ul class="list-unstyled">
                          <li><a href="{% url 'clientapp_send' %}">Send Whatsapp</a></li>
                          <li><a href="{% url 'clientapp_report' %}">Whatsapp Report</a></li>
                      </ul>
                    </li> 
                  </li>
                </ul>
                <div class="clearfix"></div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
<!-- Left Sidebar End -->
<!-- ============================================================== -->
<!-- Start right Content here -->
<!-- ============================================================== -->
<div class="content-page">
  <div class="content">
    <!-- Start content -->
    {% block content %}
    {% endblock %}
   <!-- container -->
  </div><!-- content --> 
  <footer class="footer text-right">
  © 2017. All rights reserved.
  </footer>
</div>
<!-- ============================================================== -->
<!-- End Right content here -->
<!-- ============================================================== -->
<!-- Right Sidebar -->
<div class="side-bar right-bar nicescroll">
    <h4 class="text-center">Chat</h4>
    <div class="contact-list nicescroll">
        <ul class="list-group contacts-list">
            <li class="list-group-item">
                <a href="#">
                    <div class="avatar">
                        <img src="{% static 'images/users/avatar-1.jpg '%}" alt="">
                    </div>
                    <span class="name">Indra</span>
                    <i class="fa fa-circle online"></i>
                </a>
                <span class="clearfix"></span>
            </li>     
        </ul>
    </div>
</div>
<!-- /Right-bar -->
</div>
<!-- END wrapper -->
        <script>
            var resizefunc = [];
        </script>
        <!-- jQuery  -->
       <script src="{% static 'js/modernizr.min.js' %}"></script>
       <script src="{% static 'js/jquery.min.js' %}" ></script>
       <script src="{% static 'js/bootstrap.min.js' %}" ></script>
       <script src="{% static 'js/detect.js' %}" ></script>
       <script src="{% static 'js/fastclick.js' %}" ></script>
       
       <script src="{% static 'js/jquery.slimscroll.js' %}" ></script>
       <script src="{% static 'js/jquery.blockUI.js' %}" ></script>
       <script src="{% static 'js/waves.js' %}" ></script>
       <script src="{% static 'js/wow.min.js' %}" ></script>
       <script src="{% static 'js/jquery.nicescroll.js' %}" ></script>
       <script src="{% static 'js/jquery.scrollTo.min.js' %}" ></script>

       {% block javascript %}
       {% endblock javascript %}

       <script src="{% static 'plugins/peity/jquery.peity.min.js' %}" ></script>

        <!-- jQuery  -->
       <script src="{% static 'plugins/waypoints/jquery.waypoints.js' %}" ></script>
       <script src="{% static 'plugins/counterup/jquery.counterup.min.js' %}" ></script>

      <script src="{% static 'plugins/morris/morris.min.js' %}" ></script>
      
      <script src="{% static 'plugins/raphael/raphael-min.js' %}" ></script>

      <script src="{% static 'plugins/jquery-knob/jquery.knob.js' %}" ></script>

      <!-- <script src="{% static 'pages/jquery.dashboard.js' %}" ></script> -->
      
      <script src="{% static 'js/jquery.core.js' %}" ></script>
      <script src="{% static 'js/jquery.app.js' %}" ></script>

        <script type="text/javascript">
            jQuery(document).ready(function($) {
                $('.counter').counterUp({
                    delay: 100,
                    time: 1200
                });

                $(".knob").knob();

            });
        </script>
    </body>
</html>