<!DOCTYPE html>
<html>
<head>
    <link rel="shortcut icon" href="/static/images/favicon_1.ico">
    <title>Bulk WhatsApp API</title>
    <link rel="stylesheet" type="text/css" media="screen" href="/static/css/bootstrap.min.css"/>
</head>
<body>
<br>
<section class="container">
<div class="row">
    <div class="container well">
      <table class="table">
<div class="row">
    <div class="col-sm-12">
        <div class="card-box table-responsive">
			<table id="datatable-buttons" class="table table-hover">
			    <thead>
			    <tr>
			        <th>Contact Number</th>
			        <th>Campaign Name</th>
			        <th>Message Text</th>
			        <th>Added On</th>
			        <th>Status</th>
			    </tr>
			    </thead>
			    <tbody>
		    	{% for msg in  individual_messages %}
		    	<tr>
			    	<td>{{msg.to_contact}}</td>
                    <td>{{msg.message_format.campaign_name}}</td>
                    <td>{{msg.message_format.msg_text}}</td>
                    <td>{{msg.added_on}}</td>
                    <td>{% if msg.delivered %}<i class="fa fa-check-circle text-success"></i>{%else %} <b>Pending</b> {% endif %}</td>
			    </tr>	
		    	{% endfor %}
			   </tbody>
			</table>
		</div>
	</div>
</div>
</html>
