{% extends "base.html" %}
{% load staticfiles %}

{% block css %}
    <title>Bluk Whatsapp Report</title>
    <link rel="stylesheet" type="text/css" href="{% static 'plugins/datatables/jquery.dataTables.min.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'plugins/datatables/buttons.bootstrap.min.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'plugins/datatables/responsive.bootstrap.min.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'plugins/datatables/dataTables.bootstrap.min.css' %}"/>
        
{% endblock css %}


{% block content %}
<div class="row">
    <div class="col-sm-12">
        <div class="card-box table-responsive">
			<table id="datatable-buttons" class="table table-hover">
			    <thead>
			    <tr>
			        <th>Contact Number</th>
			        <th>Campaign Name</th>
			        <th>Message Text</th>
			        <th>Added On</th>
			        <th>Status</th>
			    </tr>
			    </thead>
			    <tbody>
		    	{% for msg in  individual_messages %}
		    	<tr>
			    	<td>{{msg.to_number}}</td>
                    <td>{{msg.message_format.format_name}}</td>
                    <td>{{msg.message_format.message_text}}</td>
                    <td>{{msg.added_on}}</td>
                    <td>{% if msg.delivery_status > 0 %}<i class="fa fa-check-circle text-success"></i>{%else %} <b>Pending</b> {% endif %}</td>
			    </tr>	
		    	{% endfor %}
			   </tbody>
			</table>
		</div>
	</div>
</div>
</html>
{% endblock %}
{% block javascript %}
	<script>
    	var resizefunc = [];
	</script>

	<script src="{% static 'plugins/datatables/jquery.dataTables.min.js' %}"></script>
	<script src="{% static 'plugins/datatables/dataTables.bootstrap.js' %}"></script>

	<script src="{% static 'plugins/datatables/dataTables.buttons.min.js' %}"></script>
	<script src="{% static 'plugins/datatables/buttons.bootstrap.min.js' %}"></script>
	
	<script src="{% static 'plugins/datatables/buttons.html5.min.js' %}"></script>
	<script src="{% static 'plugins/datatables/buttons.print.min.js' %}"></script>
	
	<script src="{% static 'plugins/datatables/responsive.bootstrap.min.js' %}"></script>
    
    <script src="{% static 'plugins/datatables/moment.min.js' %}"></script>
    <script src="{% static 'plugins/datatables/datetime-moment.js' %}"></script>
	
	<script src="{% static 'pages/datatables.init.js' %}"></script>

	<script type="text/javascript">
    $(document).ready(function () {
        $.fn.dataTable.moment( 'HH:mm MMM D, YY' );
        
        $('#datatable').dataTable();
        $('#datatable-keytable').DataTable({keys: true});
        $('#datatable-responsive').DataTable();
        $('#datatable-colvid').DataTable({
            "dom": 'C<"clear">lfrtip',
            "colVis": {
                "buttonText": "Change columns"
            }
        });
        $('#datatable-scroller').DataTable({
            ajax: "assets/plugins/datatables/json/scroller-demo.json",
            deferRender: true,
            scrollY: 380,
            scrollCollapse: true,
            scroller: true
        });
        var table = $('#datatable-fixed-header').DataTable({fixedHeader: true});
        var table = $('#datatable-fixed-col').DataTable({
            scrollY: "300px",
            scrollX: true,
            scrollCollapse: true,
            paging: false,
            fixedColumns: {
                leftColumns: 1,
                rightColumns: 1
            }
        });
    });
    TableManageButtons.init();

    </script>
{% endblock javascript %}
