{% extends "base.html" %}
{% load staticfiles %}

{% block css %}
        <link rel="stylesheet" type="text/css" media="screen" href="{% static 'plugins/switchery/css/switchery.min.css' %}" />
        <link rel="stylesheet" type="text/css" media="screen" href="{% static 'plugins/bootstrap-select/css/bootstrap-select.min.css' %}"/>
        <link rel="stylesheet" type="text/css" media="screen" href="{% static 'plugins/morris/morris.css' %}"/>
        <script src="{% static 'js/jquery.min.js' %}" ></script>
        <script type="text/javascript">
          jQuery(document).ready(function() {
              validateNumbers();
              $('#mobile_numbers').keyup(function() {
                  if (/\D/g.test(this.value)) {
                      this.value = this.value.replace(/\D/g, '');
                  }
                  function scrollToBottom() {
                    $('#mobile_numbers').scrollToBottom($('#mobile_numbers')[0].scrollHeight);
                  }
                  this.value = this.value
                      .replace(/[\n\r]+/g, "")
                      .replace(/(.{10})/g, "$1\n");
                  validateNumbers();
              }); 
              function validateNumbers() {
                var value = $("#mobile_numbers").val();
                var numbersArray = value.split('\n');
                var validNumbers = [];
                var duplicateNumbers = [];
                var inValidNumbers = [];
                
                // remove empty elements
                var index = numbersArray.indexOf("");
                while(index !== -1)
                {
                    numbersArray.splice(index,1);
                    index = numbersArray.indexOf("");
                }
                
                for (var $i = 0; $i < numbersArray.length; $i++) {
                    var number = numbersArray[$i];
                    if (validNumbers.indexOf(number) !== -1 || inValidNumbers.indexOf(number) !== -1) {
                        duplicateNumbers.push(number);
                    } else if (number.match(/[789]\d{9}/)) {
                        validNumbers.push(number);
                    } else {
                        inValidNumbers.push(number);
                    }
                }
                $("#total").text(numbersArray.length);
              }
          });
          function ValidateSize(file) {
            var FileSize = file.files[0].size / 1024 / 1024; // in MB
            if (FileSize > 1) {
                alert('File size exceeds 1 MB');
                $(file).val(''); //for clearing with Jquery
            } else {

            }
          }
          function ValidateSize2(file) {
            var FileSize = file.files[0].size / 1024 / 1024; // in MB
            if (FileSize > 1) {
                alert('File size exceeds 2 MB');
                $(file).val(''); //for clearing with Jquery
            } else {

            }
          }
    </script>
    </head>
{% endblock css %}

{% block content %}

<div class="container">
            <!-- Page-Title -->
  <div class="row">
    {% if errors %}
    <div class="col-sm-12">
      <h1 class="text-danger card-box"> {{errors}} </h1>
    </div>
    {% else %}
    
    <div class="col-sm-12">
      
      <div class="card-box">
        
      <h4 class="m-t-0 header-title"><b>Send whatsapp messages</b></h4>
      <br>
        <div class="row">
          <div class="col-md-8">
            <form method="POST" class="form-horizontal" enctype="multipart/form-data" >  
            {% csrf_token %}
              <div class="form-group">
                  <lable class="col-md-2 control-label" for="id_campaign_name"><b>Campaign Name</b></lable>
                  <div class="col-md-6">
                    <input class="form-control" id="id_campaign_name" name="campaign_name" type="text" maxlength="100" required placeholder="Enter Campaign Name here..">
                  </div>                           
              </div>
              <div class="form-group">
                  <label class="col-md-2 control-label" for="">Mobile Numbers</label>
                  <div class="col-md-6">
                      <textarea class="form-control" name="mobile_numbers" id="mobile_numbers" required placeholder="Mobile Numbers List"></textarea>
                      <p><b>Numbers in list</b>  <span id="total"></span></p>
                  </div>
              </div>
              <div class="form-group">
                  <label class="col-md-2 control-label" for="id_msg_text">Message</label>
                  <div class="col-md-6">
                      <textarea type="text" class="form-control" id="id_msg_text" name="msg_text" rows="" cols="" maxlength="1000" required placeholder="Enter your text message">
                      </textarea>
                  </div>
              </div>
          </div>
        </div>
      </div>
    </div>

  </div>
  <div class="row">
    <div class="col-sm-12">
      <div class="card-box">
      <h4 class="m-t-0 header-title"><b>Upload Image, Videos, PDF</b></h4>
        <div class="row">
          <div class="col-md-6">
                <div class="form-group">
                  <label class="control-label" for="id_msg_img1">Image 1 </label>
                  <input id="id_msg_img1" name="msg_img1" type="file" class="filestyle" onchange="ValidateSize(this)" data-buttonbefore="true" accept="Image/*">
                </div>
          </div>
          <div class="col-md-6">
                <div class="form-group">
                  <label class="control-label" for="id_msg_img2">Image 2 </label>
                  <input id="id_msg_img2" name="msg_img2" type="file" class="filestyle" onchange="ValidateSize(this)" data-buttonbefore="true" accept="Image/*">
                </div>
          </div>
        </div>
        
<!--
        <div class="row">
          <div class="col-md-6">
                <div class="form-group">
                  <label class="control-label">Image 3 </label>
                  <input type="file" class="filestyle" onchange="ValidateSize(this)" data-buttonbefore="true" accept="Image/*">
              </div>

          </div>
          <div class="col-md-6">
              <div class="form-group">
                  <label class="control-label">Upload pdf </label>
                  <input type="file" class="filestyle" data-buttonbefore="true" onchange="ValidateSize(this)" accept="image/x-eps,application/pdf">
                </div>
          </div>
        </div>      
        <div class="row">
          <div class="col-md-6">
                <div class="form-group">
                  <label class="control-label">Image 4 </label>
                  <input type="file" class="filestyle" onchange="ValidateSize(this)" data-buttonbefore="true" accept="Image/*">
                </div>
          </div>
          <div class="col-md-6">
                  <div class="form-group">
                    <label class="control-label">Upload Video </label>
                    <input type="file" class="filestyle" onchange="ValidateSize2(this)" data-buttonbefore="true" accept="Video/*">
                  </div>
          </div>
        </div>
              
        </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <div class="card-box">
      <h4 class="m-t-0 header-title"><b>Create VCard</b></h4>
      <br>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group" class="form-horizontal">
              <input type="text" class="form-control" placeholder="Campaign Name">
              <input type="text" class="form-control" placeholder="Adreess">
              <input type="text" class="form-control" placeholder="contact number">
              <input type="email" class="form-control" placeholder="Email id">
              <input type="url" class="form-control" placeholder="Website URL">
            </div> 
-->
            <button class="btn btn-danger btn-lg waves-effect waves-light" type="submit" name="submit">Submit</button> 
          </div>
        </div>
      </div>
    </div>
  </div>        
</form>
  {% endif %}
</div>
{% endblock %}

{% block script %}
  <script>
      var resizefunc = [];
      function addNewlines(str) {
        var result = '';
        while (str.length > 0) {
          result += str.substring(0, 200) + '\n';
          str = str.substring(200);
        }
        return result;
      }
  </script> 
{% endblock %}

{% block javascript %}
  
      <script type="text/javascript" src="{% static 'plugins/bootstrap-tagsinput/js/bootstrap-tagsinput.min.js' %}"></script>
      <script type="text/javascript" src="{% static 'plugins/switchery/js/switchery.min.js' %}"></script>
      <script type="text/javascript" src="{% static 'plugins/multiselect/js/jquery.multi-select.js' %}"></script>
      <script type="text/javascript" src="{% static 'plugins/jquery-quicksearch/jquery.quicksearch.js' %}"></script>
      <script type="text/javascript" src="{% static 'plugins/select2/js/select2.min.js' %}" ></script>
      <script type="text/javascript" src="{% static 'plugins/bootstrap-select/js/bootstrap-select.min.js' %}"></script>
      <script type="text/javascript" src="{% static 'plugins/bootstrap-filestyle/js/bootstrap-filestyle.min.js' %}"></script>
      <script type="text/javascript" src="{% static 'plugins/bootstrap-touchspin/js/jquery.bootstrap-touchspin.min.js' %}"></script>
      <script type="text/javascript" src="{% static 'plugins/bootstrap-maxlength/bootstrap-maxlength.min.js' %}"></script>

      <script type="text/javascript" src="{% static 'plugins/autocomplete/jquery.mockjax.js' %}"></script>
      <script type="text/javascript" src="{% static 'plugins/autocomplete/jquery.autocomplete.min.js' %}"></script>
      <script type="text/javascript" src="{% static 'plugins/autocomplete/countries.js' %}"></script>
      <script type="text/javascript" src="{% static 'pages/autocomplete.js' %}"></script>

      <script type="text/javascript" src="{% static 'pages/jquery.form-advanced.init.js' %}"></script>

      
      <script type="text/javascript" src="{% static 'plugins/parsleyjs/parsley.min.js' %}"></script>  
      <script type="text/javascript">
        $(document).ready(function() {
          $('form').parsley();
        });
      </script>


{% endblock javascript %}