<!DOCTYPE html>
<html>
<head>
	<link rel="shortcut icon" href="/static/images/favicon_1.ico">
    <title>Bulk WhatsApp API</title>
    <link rel="stylesheet" type="text/css" media="screen" href="/static/css/bootstrap.min.css"/>
</head>
<body>
<br>
<section class="container">
<div class="row">
	<div class="jumbotron text-center well">	
		<h4 id="connection_status" class="btn btn-danger">Not Connected</h4>	
	</div>
</div>
</section>


<script src="/static/js/jquery.min.js" ></script>
<script src="/static/js/bootstrap.min.js" ></script>
<script>
var connected_status_button = $('#connection_status'); 
</script>
</body>
</html>